<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<div>
  <%= @user.attended_events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.title %></td>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
