<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<%if current_user%>
  <%= link_to 'Join', join_path(event_id: @event.id) %>
<%end%>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>
<div>
  <h2>Attendees</h2>
  <%= @event.attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.name%></td>
      <td><%= attendee.username%></td>
      <td><%= attendee.email%></td>
    </tr>
  <% end %>
</div>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
